<%- include("partials/header"); -%>

<h1><%= postTitle %></h1>
<p><%= postText %></p>
<a href="/"><button class="btn btn-primary" type="button" name="button">Come back</button></a>

<%- include("partials/footer"); -%>
